<!-- Version -->
<label for="logVersion" >Version:</label>
<input type="text" [(ngModel)]="versionName">
<p>Version Name: {{versionName}}</p>

<!-- Date -->
<label for="logDate">Date:</label>
<input type="date" id="logDate" [(ngModel)]="versionDate" #date>
<p>Version Date: {{versionDate}}</p>


<!-- Changes -->
<div class="logFeature" *ngFor="let change of changes; let i = index" #change>
    <select name="" id="" [value]="changes[i].type">
        <option value="Added">Added</option>
        <option value="Change">Change</option>
        <option value="Bugfix">Bug-fix</option>
        <option value="Deprecated">Deprecated</option>
        <option value="Removed">Removed</option>
        <option value="Security">Security</option>
    </select>
    <input type="text" [value]="changes[i].message">
</div>

<!-- New Change -->
<div class="logFeature" #change>
    <select name="" id="newChangeType">
        <option value="Added">Added</option>
        <option value="Change">Change</option>
        <option value="Bugfix">Bug-fix</option>
        <option value="Deprecated">Deprecated</option>
        <option value="Removed">Removed</option>
        <option value="Security">Security</option>
    </select>
    <input type="text">

    <!-- Buttons for debug purposes -->
    <button (click)="addNewChange()">+</button>
    <button (click)="getChanges()">=</button>
    <button (click)="saveChanges()">></button>
</div>